body {
    font: 13px / 1.7em "Open Sans", "trebuchet ms", arial, sans-serif;
    color: #333;
}

@media screen and (min-width: 767px) {
    .narrow-results {
      display: block;
    }
  }
  
*, *:before, *:after {
    box-sizing: border-box;
}

div {
    display: block;
    unicode-bidi: isolate;
}

#content-container .row {
    margin-bottom: 2em;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}

.row:after {
    clear: both;
}
.row:before, .row:after {
    display: table;
    content: " ";
}

@media (min-width: 1200px) {
    .ten-columns > .col-lg-2 {
      width: 20%; 
    }
  
    .col-lg-2 {
      width: 16.666666666666664%; 
      float: left;
    }
}
  
  @media (min-width: 1024px) {
    .ten-columns div {
      margin-bottom: 10px !important;
    }
}
  
  @media (min-width: 992px) {
    .col-md-6 {
      width: 50%;
      float: left;
    }
}
  
  @media (min-width: 768px) {
    .col-sm-6 {
      width: 50%;
      float: left;
    }
}
 
   .col-sm-6, .col-md-6, .col-lg-2 {
    position: relative;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

a {
    color: #428bca;
    text-decoration: none;
}

#narrow-results .btn-block {
    text-align: left !important;
    padding-left: 5px !important;
    font-size: 13px !important;
    padding-top: 5px;
    border-bottom: 5px solid rgba(255, 255, 255, .1) !important;
}

.btn {
    outline: none !important;
    border: none !important;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 1.428571429;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    user-select: none;
}
.btn-custom {
    color: #fff;
    background-color: #ffc107;
    
}
.btn-block {
    display: block;
    width: 100%;
    padding-right: 0;
}

button, input, select[multiple], select, textarea {
    background-image: none;
    font-family: inherit;
    margin: 0;
}
/* button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
} */
button, select {
    text-transform: none;
}

button {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    padding-block: 1px;
    padding-inline: 6px;
}

.btn-block i {
    padding-right: 5px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.ten-columns .badge {
    float: right;
    margin-right: 5px;
}

.btn .badge {
    position: relative;
    top: -1px;
}
.badge {
    font-size: 11px;
    font-weight: 600;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999;
    border-radius: 10px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
}

#narrow-results .widget-active {
    border-bottom: #124c70 5px solid !important;
}

.btn-info {
    color: #ffffff;
    background-color: #3498db;
}

.btn-spl {
    color: #fff;
    background-color: #17a2b8;
}

.btn-warning {
    color: #ffffff;
    background-color: #ff751a;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
}

.card-container {
    max-width: 1500px; 
    margin: 0 auto; 
    background: #ffffff; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    margin-top: 120px; 
  }
  
